body {
  margin: 0;
  padding: 0;
  font-family: 'Arial', sans-serif;
}

header {
  background: linear-gradient(to right, #41B883, #35495E); /* Agregamos el degradado aquí */
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo img {
  max-width: 100%;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

nav li {
  margin-right: 20px;
}

nav a {
  text-decoration: none;
  color: #fff; /* Cambia el color del texto según tus preferencias */
}

/* Hacer el menú responsivo para pantallas más pequeñas */
@media (max-width: 768px) {
  header {
      flex-direction: column;
      align-items: flex-start;
  }

  nav {
      margin-top: 10px;
  }

  nav ul {
      flex-direction: column;
      text-align: center;
  }

  nav li {
      margin: 0;
      margin-bottom: 10px;
  }
}


.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

/* FORMULARIO */
.form-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.registration-form {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
    max-width: 400px;
    width: 100%;
}

.registration-form h2 {
    font-size: 2em;
    margin-bottom: 20px;
}

.registration-form label {
    display: block;
    font-size: 1.2em;
    margin-bottom: 5px;
}

.registration-form input,
.registration-form select {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.registration-form button {
    background-color: #41B883;
    color: #fff;
    padding: 10px 20px;
    font-size: 1.2em;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.registration-form button:hover {
    background-color: #35495E;
}


/* TABLA */
.table-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.data-table {
    width: 100%;
    border-collapse: collapse;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow-x: auto; /* Permite desplazamiento horizontal en pantallas pequeñas */
}

.data-table th, .data-table td {
    padding: 15px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

.data-table th {
    background-color: #41B883;
    color: #fff;
}

.data-table tbody tr:hover {
    background-color: #f4f4f4;
}

.btn-view, .btn-delete {
    padding: 8px 12px;
    margin-right: 5px;
    background-color: #41B883;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn-view:hover, .btn-delete:hover {
    background-color: #35495E;
}
